header{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left:15%;
    padding-right:15%;
    .navbar{
        background-color: #fff;
        #izquierda-nav{
            margin: auto;
            column-gap:40px;
            a{
                color:$color-azul;
                font-weight: 500;
                font-size: 18px;
            }
            a:hover{
                color:$color-rojo;
            }
        }
        #derecho-nav{
            column-gap:25px;
            #acceso-clientes{
                padding: 0px 12px;
                border-radius: 17px;
                color:$color-azul;
                border:2px $color-rojo solid;
                font-size: 18px;
                font-weight: 500;
            }
        }
        
    }
    .navbar-brand {
        img{
            height: 6rem;
        }
    }
}
@media screen and (min-width: 300px) and (max-width: 767.9px){
    header{
        text-align: center;
        #derecho-nav{
            .nav-item {
                margin-bottom: 1rem;
                svg{
                    font-size: 3rem;
                }
            }  
        }
        .navbar{
            #izquierda-nav{

            }
        }
    }
}
@media screen and (min-width: 1600px) and (max-width: 1800px){
    header{
        padding-left:12%;
        padding-right:12%;
        .navbar{
            #izquierda-nav{
                column-gap:30px;
            }
        }
    }
}
@media screen and (min-width: 1400px) and (max-width: 1600px){
    header{
        padding-left:9%;
        padding-right:9%;
        .navbar{
            #izquierda-nav{
                column-gap:22px;
            }
        }
    }
}
@media screen and (min-width: 1000px) and (max-width: 1400px){
    header{
        padding-left:5%;
        padding-right:5%;
        .navbar{
            #izquierda-nav{
                column-gap:8px;
            }
        }
    }
}
